@import url("https://fonts.googleapis.com/css2?family=Work+Sans:regular;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
* img {
  // звездочка значит для всех картинок
  max-width: 100%;
}
:root {
  --bg-color: #121b25; //задаем сразу переменные цвета
  --accent-color: #1aa090;
  --text-color: #d6d6d6;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;
  &._lock {
    overflow: hidden;
  }
}

[class*="__container"] {
  // стили преиментся для всех классов с окончанием __container
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---------------------General---------------------*/ //общие стили

.text {
  font-weight: 400;
  font-style: 18px;
  line-height: 1.7;
  color: var(--text-color);

}

/*---------------------General---------------------*/
/*---------------------Header---------------------*/

.header {
  padding: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__logo {
    max-width: 200px;
  }
  &__navigation {
    display: flex;
    align-items: center;
    gap: clamp(
      1.25rem,
      -2.799rem + 8.44vw,
      4.688rem
    ); // фича что бы не писать медиазапросы с брейкпоинтами
  }
  &__menu {
  }
  &__buttons {
    display: flex;
    gap: 5px;
  }
  &__btn {
    padding: 11px 20px;
    color: #ffffff;
    border: 2px solid var(--accent-color);
    background-color: transparent; // цвет фона дочерних элементов совпадает с цветом фона родительского элемента
    transition: background-color 0.3s;
    cursor: pointer;
    @media(max-width:576px){
      padding: 7px 15px;
    }
  }
}

.menu {
  @media (max-width: 992px) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    overflow: auto;
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);
    transition: left 0.4s;
    &._active {
      left: 0;
    }
  }
  &-icon {
    display: none;
    @media (max-width: 992px) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5px;
      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &._active {
        span {
          transform: scale(
            0
          ); // можно увеличивать и уменьшать объекты на веб-странице.
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(-45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
  &__body {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__item {
  }
  &__link {
    font-weight: 500;
    font-style: 16px;
    text-transform: capitalize;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      background-color: var(--accent-color);
      height: 3px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
    }
    @media (any-hover: hover) {
      // что бы ховер работал на всех устройствах
      &:hover {
        color: #ffffff;
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media (max-width: 992px) {
      line-height: 50px;
      font-style: 30px;
    }
  }
}

.login {
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--accent-color);
    }
  }
  @media (max-width: 425px) {
    display: none;
  }
}
.register {
  background-color: var(--accent-color);
  @media (any-hover: hover) {
    &:hover {
      background-color: transparent;
    }
  }
}

/*---------------------/Header---------------------*/

/*---------------------Hero---------------------*/

.hero {
  margin-top: clamp(1.875rem, 0.852rem + 5.11vw, 4.688rem);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:992px) {
      flex-direction: column;
    }
  }
  &__content {
    flex: 0 0 calc(700px / 1420px * 100%);
    margin-bottom: 160px;
  }
  &__title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.011rem + 4.32vw, 4.25rem);
    line-height: 1.26;
    text-transform: capitalize;
  }
  &__text {
    margin-top: 18px;
  }
  &__filter {
height: 100px;
width: 880px;
background-color: #fff;
margin-top: 60px;
position: absolute;
@media(max-width:992px) {
  width: 100%;
  position: static;
}
  }
  &__img {
    flex: 0 0 calc(700px / 1420px * 100%);
    @media(min-width:768px) and (max-width: 992px) {
      display: none;
    }
  }
}

/*---------------------/Hero---------------------*/
/*---------------------Filter---------------------*/

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
  &__block {
  border-right: 1px solid  #e8e8e8;
  border-left: 1px solid  #e8e8e8;
  }
  &__btn {
    padding: 5px;
    button {
      cursor: pointer;
      background-color: var(--accent-color);
      height: 100%;
      width: 100%;
      border: none;
      font-weight: 500px;
      font-size: 24px;
      text-transform: capitalize;
      color: #fff;
      &:active {
        background-color: #15786C;
      }
    }
  }}

.block-filter {
  position: relative;
  &__button {
    display: flex;
    padding-left: 40px;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__type {
    padding-right: 2px;
    font-size:16px;
    color: #858585;
  }
  &__icon {
    width: 10px;
    height: 7px;
    background: url(/img/icons/dropdown.svg) center bottom no-repeat;
    transition: transform .2s;
&._active {
  transform: rotate(180deg);
}
  }
  &__value {
    color: var(--bg-color);
    font-weight: 600px;
    font-size: 18px;
    text-transform: capitalize;
  }
  &__dropdown {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    &._active {
opacity: 1;
visibility: visible;
pointer-events: all;
transform: translateY(5px);
    }
  }
  &__item {
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    text-transform: capitalize;
    @media (any-hover :hover) {
      &:hover {
        background-color: #adadad;
      }
    }
  }
}



/*---------------------/Filter---------------------*/

